/*----- Fonts ----- */
.cabin {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.biorhyme {
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/*--- End Fonts ---*/

/*----- General -----*/
body {
    font-family: "BioRhyme", sans-serif;
    background: #9e7442;
    color: #d9ba85;
}
a {
    color: #9e7442;
    text-decoration: none;
}

a:hover {
    color: #c19a6b;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Cabin", serif;
}

/*--- End General ---*/

/*----- Buttons -----*/
.btn-book,
.btn-enquire,
.btn-results,
.btn-dates,
.btn-clear,
.btn-send {
    margin: 15px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    background-color: #000000;
    color: #fff;
    border: 2px solid #dee2e6;
}

.btn-book:hover,
.btn-enquire:hover,
.btn-results:hover,
.btn-dates:hover,
.btn-send:hover {
    background: #429e74;
    color: #fff;
    text-decoration: none;
}

.btn-clear:hover {
    background: yellow;
    color: #9e7442;
    text-decoration: none;
}

/*--- End Buttons ---*/

/*----- Navbar menu -----*/

/*Desktop Navigation*/
.navbar img{
    width:15rem;
    height: auto;
}

.navbar {
    padding: 0;
    background-color: #9e7442;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
}

.navbar ul {
    padding-right: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
}

.navbar li {
    position: relative;
}

.navbar li:first-child {
    margin-inline-end: auto;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover>a {
    color: #d9ba85;
}

.navbar .dropdown {
    right: 3rem;
    color: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #d9ba85;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
    border-right: 16px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    color: #fff;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #cda45e;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/*--- End Navbar ---*/

/*----- Nav-tabs -----*/

.nav-tabs .nav-link {
    color: #F5F5DC;
    background-color: #9e7442;
    border: 1px solid #F5F5DC;
    border-radius: 6px;
    transition: background-color 0.3s ease, color ease 0.3s;
    padding: 10px;
}

.nav-tabs .nav-link:hover {
    color: #9e7442;
    background-color: #F5F5DC;
    border-color: #9e7442;
}

.nav-tabs .nav-link.active {
    background-color: #9e7442;
    color: #F5F5DC;
    border-color: #9e7442;
    border-bottom: 2px solid #F5F5DC;
    border: 2px solid #9e7442
}

.nav-tabs .nav-link.active:hover {
    color: #9e7442;
    background-color: #F5F5DC;
    border-color: #9e7442;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:active {
    border-bottom: 2px solid #F5F5DC;
}

/*--- End Nav-tabs ---*/

/*----- Messages -----*/
#info-messages {
    position: fixed;
    top: 10rem;
    left: 10%;
    z-index: 100;
    width: 80%;
}

.message {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #F5F5DC;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: opacity 0.3s ease-out;
}

.message.info {
    background-color: #5e87cd;
    color: #F5F5DC;
}

.message.success {
    background-color: #5ecda4;
    color: #F5F5DC;
}

.message.error {
    background-color: #cd6d5e;
    color: #F5F5DC;
}

.message.warning {
    background-color: #bfcd5e;
    color: #F5F5DC;
}

.close-message-btn {
    z-index: 101;
    background: none;
    border: none;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

/*--- End Messages ---*/

/*---------- Index page ----------*/

/*----- Intro Section -----*/
#intro {
    padding-top: 13rem;
    padding-bottom: 3rem;
    background: #cda45e;
    color: #fff;
}

#intro h1 {
    font-size: 60px;
    font-family: "BioRhyme", serif;
}

.pub-link {
    color: #F5F5DC;
    text-decoration: none;
}

/*----- End Intro Section -----*/

/*----- Hero section -----*/
#hero {
    background: url("../media/index-images/three-amigos-sunset.jpg") center center;
    background-size: cover;
    position: relative;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin-bottom: 20px 0 0 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "BioRhyme", sans-serif;
}

#hero h1 span {
    color: #cda45e;
}

#hero h2 {
    color: #F5F5DC;
    margin-bottom: 10px 0 0 0;
    font-size: 22px;
}

#hero .btns {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#hero .position-relative {
    position: relative !important;
}

/*--- End Hero Section ---*/

/*----- Pub Intro Section -----*/

#pub-intro {
    color: #F5F5DC;
    background-color: #9e7442;

}

.pub-intro-links {
    color: #cda45e;
    text-decoration: none;
}

/*--- End Pub Intro Section ---*/

/*----- About Us section -----*/

#about-us {
    padding-bottom: 3rem;
    background: #cda45e;
    color: #F5F5DC;
    text-align: center;
}

#about-us p {
    color: #F5F5DC;
}

#about-us h2 {
    text-align: center;
    color: #fff;
}

#about-us div {
    padding-top: 10px;
}

.about-us-links {
    color: #F5F5DC;
    text-decoration: none;
}

/*--- End About Us Section ---*/

/*---------- End of Index page ----------*/

/*---------- Tables page ----------*/

table {
    background-color: #cda45e;
    color: #F5F5DC;
    border: none;
}

th, td {
    background-color: #cda45e;
    color: #F5F5DC;
    border-top: none;
}

thead th {
    background-color: #cda45e;
    color: #F5F5DC;
}

/*---------- End Tables page ----------*/

/*---------- Dates page ----------*/

#upcoming {
    padding-top: 13rem;
    background: #cda45e;
    color: #fff;
    min-height: 70rem;
}

#upcoming h1,
#upcoming h4,
#upcoming h6 {
    text-align: center;
    color: #F5F5DC;
}

#upcoming h1 {
    padding: 20px;
}

#upcoming h5 {
    text-align: left;
    padding: 20px;
}

#upcoming tr,
#upcoming th {
    background-color: #cda45e;
    color: #F5F5DC;
    border-top: none;
}

#upcoming table td {
    color: #F5F5DC;
    background-color: #cda45e;
    border-bottom-width: 1px;
    border-bottom-color: #F5F5DC;
}

#upcoming .tab-pane .table {
    margin-bottom: 0;
}

#gs-gates-list, #city-gates-list {
    color: #F5F5DC;
    background-color: #cda45e;
    border-bottom-width: 1px;
    border-bottom-color: #F5F5DC;
}

#upcoming .nav-link.active {
    color: #F5F5DC;
    background-color: #9e7442;
    border-color: #F5F5DC;
}

#upcoming .nav-link:hover,
#upcoming .nav-link.active:hover {
    color: #9e7442;
    background-color: #F5F5DC;
    border-color: #9e7442;
}

#upcoming .nav-tabs {
    border-bottom: none;
}

/*---------- End of Dates page ----------*/

/*---------- Results page ----------*/
#results {
    padding-top: 13rem;
    background: #cda45e;
    color: #fff;
}

#results h1 {
    padding: 20px;
}

#results h1,
#results h4,
#results h5,
#results h6 {
    text-align: center;
    color: #F5F5DC;
}

#results th,
#results td {
    background-color: #cda45e;
    color: #F5F5DC;
}

#results .table {
    margin-bottom: 0;
}

#results .nav-link.active {
    color: #F5F5DC;
    background-color: #9e7442;
    border-color: #F5F5DC;
}

#results .nav-link:hover,
#results .nav-link.active:hover {
    color: #9e7442;
    background-color: #F5F5DC;
    border-color: #9e7442;
}

#results #gs-dates-list .list-group-item {
    color: #cda45e;
    background-color: #F5F5DC;
}

#results .nav-tabs {
    border-bottom: none;
}

/*---------- End of Results page ----------*/

/*---------- Booking & Enquiry pages ----------*/
/* Booking and enquiry forms use the same stylings */

#booking h1,
#enquiry h1 {
    padding: 20px;
    text-align: center;
}

#booking h4,
#booking h6,
#enquiry h4,
#enquiry h6 {
    text-align: center;
    color: #F5F5DC;
}

#booking h5,
#enquiry h5 {
    color: #d9ba85
}

#booking,
#enquiry {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #cda45e;
    padding-top: 13rem;
    padding-bottom: 5rem;
}

#booking-form,
#enquiry-form {
    width: 80%;
    max-width: 70rem;
    margin: 0 auto;
    border: 2px solid #9e7442;
    color: #9e7442;
    padding: 20px;
    border-radius: 10px;
    background-color: #F5F5DC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#booking-form .form-range,
#enquiry-form .form-range {
    width: 100%;
}

#booking-form .form-select,
#enquiry-form .form-select {
    padding: 10px 36px 10px 10px;
}

#booking-form .form-control,
#enquiry-form .form-control {
    padding: 10px 10px 10px;
    margin-bottom: 10px;
}

.booking-btns,
.enquiry-btns {
    text-align: center;
}

#id_booking_number_of_quizzers,
#id_enquiry_number_of_quizzers {
    width: 60%;
}

/*---------- End of Booking & Enquiry pages ----------*/

/*----- Footer -----*/
#footer {
    background: #000000;
    padding: 0 0 30px 0;
    color: #9e7442;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}
/*--- End Footer ---*/