{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- ===== Upcoming Quizzes Section ===== -->
    <section id="upcoming" class="section d-flex align-items-center">
        <div class="container position-relative mx-auto text-center text-lg-start">
            <h1>Quizzes at Wirströms Pub</h1>
            <h6>19.30 start</h6>
            <h2>2024 - **UNCONFIRMED**</h2>
            <ul class="list-group">
                <li class="list-group-item">5th September</li>
                <li class="list-group-item">19th September</li>
                <li class="list-group-item">3rd October</li>
                <li class="list-group-item">17th October</li>
                <li class="list-group-item">31st October</li>
                <li class="list-group-item">14th November</li>
                <li class="list-group-item">28th November</li>
                <li class="list-group-item">12th December</li>
            </ul>
        </div>
    </section>

{% endblock %}