{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- ===== Upcoming Quizzes Section ===== -->
    <section id="upcoming">
        <h1>Upcoming Quizzes</h1>
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="gs-tab" data-bs-toggle="tab" data-bs-target="#gs" type="button"
                        role="tab" aria-controls="gs" aria-selected="true">Wirströms Pub - Gamla Stan</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="city-tab" data-bs-toggle="tab" data-bs-target="#city" type="button"
                        role="tab" aria-controls="city" aria-selected="false">Wirströms City - Kungsgatan 5</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="gs" role="tabpanel" aria-labelledby="gs-tab">
                    <table class="table-sm text-center mt-3">
                        <thead>
                            <tr class="font-weight-bold">
                                <th scope="col" class="col-1">Date</th>
                            </tr>
                        </thead>
                        <tbody id="gs-dates-list">

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="city" role="tabpanel" aria-labelledby="city-tab">
                    <table class="table-sm text-center mt-3">
                        <thead>
                            <tr class="font-weight-bold">
                                <th scope="col" class="col-1">Date</th>
                            </tr>
                        </thead>
                        <tbody id="city-dates-list">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

{% endblock %}