{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- ===== Upcoming Quizzes Section ===== -->
    <section id="upcoming">
        <h1>Upcoming quizzes</h1>
        <h4>19.00 start (unless stated otherwise)</h4>
        <div class="container">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="gs-tab" data-bs-toggle="tab" data-bs-target="#gs" type="button"
                        role="tab" aria-controls="gs" aria-selected="true">Wirströms Pub - Gamla Stan</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="city-tab" data-bs-toggle="tab" data-bs-target="#city" type="button"
                        role="tab" aria-controls="city" aria-selected="false">Wirströms City - Kungsgatan 5</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="gs" role="tabpanel" aria-labelledby="gs-tab">
                    <h5>
                        Book a table:
                        <a href="mailto:booking@wirstromspub.se" style="color: #ffffff;">booking@wirstromspub.se</a>
                    </h5>
                    <ul id="gs-dates-list" class="table list-group">
                        {% if sheet_data %}
                            {% for row in sheet_data %}
                            <li class="list-group-item">{{ row.GS }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-pane fade" id="city" role="tabpanel" aria-labelledby="city-tab">
                    <h4>19.00 start</h4>
                    <h5>
                        Book a table:
                        <a href="mailto:bookingcity@wirstromspub.se" style="color: #ffffff;">bookingcity@wirstromspub.se</a>
                    </h5>
                    <ul id="city-dates-list" class="table list-group">
                        {% if sheet_data %}
                            {% for row in sheet_data %}
                            <li class="list-group-item">{{ row.City }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}