{% extends "base.html" %}

{% load static %}

<form action="{% url 'enquiry:enquiry_form' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-errors">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
    <div class="col-12">
        <button type="button" class="btn-clear" onclick="document.getElementById('enquiry-form').reset()">Clear Form</button>
    </div>
    <div class="col-12">
        <button type="submit" class="btn-send">Send Enquiry</button>
    </div>
</form>
