{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- ===== Enquiry Section ===== -->
    <section id="enquiry">
        <h1>Enquiry Form</h1>
        <div class="container">
            {% include 'enquiry_form.html' %}
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const clearButton = document.getElementById('btn-clear');
            if (clearButton) {
                clearButton.addEventListener('click', function () {
                    // Reset the form fields
                    document.getElementById('enquiry-form').reset();
                });
            }
        });
    </script>

{% endblock %}