<form id="enquiry-form" action="{% url 'enquiry:enquiry_form' %}" method="post">
    {% csrf_token %}
    <div class="form-group row g-3">
        {% for location in locations %}
            <p>{{ location.1 }}</p>
        {% empty %}
            <p>No locations available</p>
        {% endfor %}
        <div class="form-group col-md-6">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputName" name="enquiry_name">
        </div>
        <div class="col-md-6">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="enquiry_email">
        </div>
        <div class="col-md-4">
            <label for="inputOccasion" size="5" class="form-label">Occasion</label>
            <select id="inputOccasion" class="form-select" name="enquiry_occasion">
                {% for selection, choice in occasions %}
                    <option value="{{ selection }}">{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputLocation" size="4" class="form-label">Preferred Location</label>
            <select id="inputLocation" class="form-select" name="enquiry_location">
                {% for selection, choice in locations %}
                    <option value="{{ selection }}">{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputTheme" size="2" class="form-label">Preferred Theme</label>
            <select id="inputTheme" class="form-select" name="enquiry_theme">
                {% for selection, choice in themes %}
                    <option value="{{ selection }}">{{ choice }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="number" class="form-label">Example range</label>
            <input type="number" class="form-range" min="15" max="120" id="number" name="enquiry_number_of_quizzers">
        </div>
        <div class="col-md-6">
            <label for="inputWhen" class="form-label">Preferred Date</label>
            <input type="datetime" class="form-control" id="inputWhen" name="enquiry_when">
        </div>
        <div class="col-md-12">
            <label for="inputText" class="form-label">Description</label>
            <textarea class="form-control" id="inputText" rows="5" name="enquiry_description"></textarea>
        </div>
        <div class="col-12">
            <button type="reset" class="btn-clear">Clear Form</button>
        </div>
        <div class="col-12">
            <button type="submit" class="btn-send">Send Enquiry</button>
        </div>
    </div>
    <div class="form-errors">
        {% if error %}
            <p class="error">{{ form.field_name.errors }}</p>
        {% endif %}
    </div>
</form>
