{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- ===== Intro section ===== -->
    <section id="intro" class="section align-items-center">
        <div class="container position-relative text-center text-lg-start">
            <div class="row">
                <div class="col-lg-12">
                    <h1>The Three Amigos Quiz</h1>
                    <h2>Looking for an After Work quiz for your company?</h2>
                    <h2>Or for a Birthday Party?</h2>
                    <h2>Book with us and you can choose to have it at Wirströms Pub</h2>
                    <h2>or we can bring it to you</h2>
                    <div class="btns">
                        <a href="{% url 'index' %}" class="btn-book">Book Private Quiz</a>
                        <a href="{% url 'index' %}" class="btn-enquire">Enquire about a Quiz</a>
                    </div>
                    <h2>Check out our past quizzes or see future dates</h2>
                    <div class="btns">
                        <a href="{% url 'results' %}" class="btn-results">Past Results</a>
                        <a href="{% url 'dates' %}" class="btn-dates">Upcoming Pub Quizzes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro Section-->

    <!-- ===== Hero Section ===== -->
     <section id="hero" class="section align-items-center">
        <div class="container position-relative mx-auto text-center text-lg-start">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
     </section>
     <!-- End Hero Section -->

{% endblock %}