{% extends "base.html" %}

{% load static %}

{% block content %}

    <!-- ===== Hero Section ===== -->
     <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start">
            <div class="row">
                <div class="col-lg-8">
                    <h1>The Three Amigos Quiz</h1>
                    <h2>Need a quiz for an After Work or a birthday party? Book now or enquire for more information</h2>
                    <div class="btns">
                        <a href="{% url '' %}" class="btn-book">Book Quiz</a>
                        <a href="{% url '' %}" class="btn-enquire">Enquire about a Quiz</a>
                    </div>
                    <h2>We host regular quizzes at Wirströms Pub. Check "Upcoming Quizzes" for future dates!</h2>
                    <h2>Past results of our quizzes can be found here</h2>
                </div>
            </div>
        </div>
     </section>
     <!-- End Hero -->

    <!-- ===== About Us ===== -->
    <section id="about-us" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Who are the Three Amigos?</h1>
                    <h2>Insert text</h2>
                </div>
            </div>
        </div>
    </section>

{% endblock %}