{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- ===== Intro section ===== -->
    <section id="intro" class="section align-items-center">
        <div class="container position-relative text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h1>The Three Amigos Quiz</h1>
                    <h2><span>After Works</span> - <span>Parties</span> - <span>Kick offs</span></h2>
                    <div class="btns">
                        <a href="{% url 'index' %}" class="btn-book">Book Private Quiz</a>
                        <a href="{% url 'index' %}" class="btn-enquire">Enquire about a Quiz</a>
                    </div>
                </div>
                <div class="py-4">
                    <h2>We host quizzes regularly at <a class="pub-link" href="https://wirstromspub.se#wirstroms" target="_blank">Wirströms Pub</a>
                    </h2>
                    <h4>See the <a href="{% url 'results' %}" class="intro-links">past results</a>
                        or check out the <a href="{% url 'dates' %}" class="intro-links">future dates</a>
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro Section-->

    <!-- ===== Hero Section ===== -->
     <section id="hero" class="section align-items-center">
        <div class="container position-relative mx-auto text-center text-lg-start">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
     </section>
     <!-- End Hero Section -->

{% endblock %}